body{
    padding: 10px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p{
    line-height:25px;
}

#mobile{
    width: min-content;
    justify-self: right;
    background-color: white;
    border: 0px none;
    padding: 0px;
    align-self: center ;
}
.container{
    margin: 10px;
    display: flex;
    width: 350px;
    flex-direction: column;
}

body.dim{
    background-color: rgba(0,0,0,0.2);
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1;   
}



.bar{
    display: none;
}

.bar.show {
    display: flex;
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 2;
    padding: 10px;
    color: black;
    
}

.links{
    margin-top: 150px;
    display: flex;
    flex-direction: column;

    
}

.bar.show a {
    margin: 10px;
    
}

.bar a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);

}

#exit{
    position: fixed;
    right: 0;
    border-width: 0;
    background-color: white;
    width: 50px;
}

h1{
    display: block;
    flex-grow: 1;
    margin: 0px;
    font-size: 3.2rem;
}

.part-left{
    width: 350px;
}


.half{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.half p {
    margin-bottom: 20px;
}

#intext{
    align-self: end;
    padding: 10px;
    color: hsl(36, 100%, 99%);
    background-color:hsl(5, 85%, 63%) ;
    text-justify: center;
    width: 150px;
    border-style: none;
}

#intext:hover{
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
}


.fullsize{
    width: 100%;
    border-top: 10px;
}

.desctop{
    display: none;
}


.part-right{
    margin-bottom: 40px;
    width: 320px;
    color: hsl(36, 100%, 99%);
    background-color: hsl(240, 100%, 5%);
    padding: 15px;   
}


.part-right h2 {
    margin: 15px 0px 30px 0px;
    font-size: 2rem;
    color:hsl(35, 77%, 62%) ;
}


.part-right h3{
    font-size: 1.3em;;
    margin: 20px 0px 10px 0px;
}

.part-right h3:hover{
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}

.part-right p{
    font-size: 1em;
    padding-bottom: 20px;
    color:hsl(233, 8%, 79%) ;
    border-bottom: 1px solid  hsl(236, 13%, 42%) ;
    margin:10px 0px 10px 0px;
}


#end{
    border-bottom: 0px;
    padding: 0px;
}

.last{
    display:flex;
    flex-direction: column;
    width: 350px;
}

.content{
    margin: 0px;
}

.last img {
    align-self: center;
    width: 100px;
    height: 120px;

}

.row{
    display: flex;
}

.last h1{
    font-size: 2rem;
}

.last h3 ,.last .fade, .head {
    margin: 10px;
    padding: 0px;
}

.last h3:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.fade{
    color: hsl(236, 13%, 42%);
    
}

.head{
    color: hsl(233, 8%, 79%);
}

@media screen and (min-width:1050px) {
   .container{
    width: 1050px;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
   }

   
   #exit{
    display: none;
   }

   .bar{
    display:flex;
    width: 475px;
   }

   .bar a{
    flex-grow: 1;
    text-align: end;
    margin: 0;
   }

   .links{
    margin-top: 0;
    display: contents;

   }

   #mobile{
    display: none;
   }
   .part-left{
    width: 675px;
    margin: 10px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }
   .part-right{
    margin-top: 10px;
   }

   .part-left h1{
    margin-top: 15px;
    margin-right: 25px;
    max-width: 325px;
   }



   .half {
    margin-top: 15px;
    justify-self: flex-end;
    width: 325px;
   }

   .mobile{
    display: none;
   }

   .desctop{
    display: inline-block;
   }

   .last{
    flex-grow: 1;
    flex-direction: row;
   }
   .row{
    max-width: 350px;
   }

   .last h1{
    font-size: 2rem;
   }
}